.CFUserTextEncoding
.bash_history
.cvspass
.lesshst
.mysql_history
.sh_history
.ssh/
.subversion/
.worklog
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
buickheritagealliance/
cons.tar.bz2
doctrine_test/
dump.sql
ffmpeg/
jagger.bak.tar.bz2
jagger_6.sql
lizfisherdesign/
notes
status
to_ask
workspace/
no changes added to commit (use "git add" and/or "git commit -a")

.emacs.d/auto-save-list/
.emacs.d/session*
*~
.#*
.emacs.d/tramp
.macports
.viminfo
