.CFUserTextEncoding
.bash_history
.cvspass
.lesshst
.mysql_history
.sh_history
.ssh/
.subversion/
.worklog
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
buickheritagealliance/
cons.tar.bz2
doctrine_test/
dump.sql
ffmpeg/
jagger.bak.tar.bz2
jagger_6.sql
lizfisherdesign/
notes
status
to_ask
workspace/
.emacs.d/auto-save-list/
.emacs.d/session*
*~
.#*
.emacs.d/tramp
.macports
.viminfo
.ICEauthority
.VirtualBox/
.WorldOfGoo/
.Xauthority
.Xmodmap
.abbrev_defs
.adobe/
.appcfg_cookies
.appcfg_nag
.aptitude/
.ardour2/
.aspell.en.prepl
.aspell.en.pws
.audacity-data/
.authinfo
.bazaar/
.bitpim-files/
.bittorrent/
.bzr.log
.bzr/
.bzrignore
.cache/
.compiz/
.config/
.cpan/
.dbus/
.desmume.ini
.dmenu_cache
.dmrc
.dvdcss/
.elinks/
.emacs.d/worklog.el
.esd_auth
.evolution/
.fceultra/
.filezilla/
.fontconfig/
.gconf/
.gconfd/
.gegl-0.0/
.gfceugfceu_options.dat
.gimp-2.6/
.gksu.lock
.gnome2/
.gnupg/
.gnus.el
.gstreamer-0.10/
.gtk-bookmarks
.gtkpod/
.histfile
.htoprc
.hydrogen/
.ies4linux/
.ipython/
.jackdrc
.java/
.kde/
.kde4/
.kinorc
.lmmsrc.xml
.local/
.lyrics/
.macromedia/
.mednafen/
.mission-control/
.mozilla/
.mplayer/
.mtpaint
.nano_history
.nautilus/
.newsrc
.newsrc.eld
.odesk/
.openoffice.org/
.opera/
.pki/
.pulse-cookie
.pulse/
.purple/
.pylint.d/
.python-eggs/
.pythonhist
.qt/
.recently-used
.recently-used.xbel
.rnd
.rtorrent.rc
.rubberband.wisdom.d
.rubberband.wisdom.f
.sane/
.selected_editor
.serverauth*
.slocdata/
.snes96_snapshots/
.sqlite_history
.sudo_as_admin_successful
.texmf-var/
.thumbnails/
.tuxguitar-1.1/
.update-manager-core/
.update-notifier/
.usbcreator.log
.wapi/
.webex/
.wine/
.wvdial.conf
.xchm
.xdvirc
.xine/
.xinput.d/
.xmms/
.xscreensaver-getimage.cache
.xsession-errors
.xsession-errors.old
.zcompdump
.zsnes/
001.kinofx.dv
002.kinofx.dv
003.kinofx.dv
004.kinofx.dv
2009-12-25-175613.ogv
2009-12-25-175613.ogv.dv
2010-01-07-005047.jpg
BeautifulSoup.tar.gz
Bookmarks*
Business*
CherryPy-3.1.1.tar.gz
Config.bin
Firefox_wallpaper.png
FlashZFtyLo
FlashffJfyM
MySQL-python-1.2.2.tar.gz
News/
O'Reilly*
Photo_022009_001.jpg
Pycon-718.ogv
Python-2.5.4.tgz
Python-2.5.4/
Ubuntu*
Videos/
bin/
biopic.jpg
blog.mov
brokerquotegantt.pdf
builds/
cap/
capstuff.zip
cd*
files
food
for*
cliqhop.pls
config/
copyright.tar.bz2
copyright/
doc/
dq3.png
epsxe/
espresso.el
exam2venn.png
firefox/
flashvars.php?m=8365-46155
fordrea/
front/
games/
gmon.out
groovesalad48.pls
hosts
iMacros/
ideas/
images/
include/
incoming/
index.php
install_flash_player_10_linux.tar.gz
installepsxe
intro.mov
invoicingnotes
ipython-0.9.1.tar.gz
ipython-0.9.1/
jeremiahdodds.html
jeremiahdodds.pdf
jeremiahdodds_ind.html
jeremiahdoddss.html
k3b_audio*
kaens.jpg
kaens1.jpg
lib/
libexec/
lmms/
lua-mode-20071122.tar.gz
lua-mode.el
memory
mod3-q-26.png
mod3-q27.png
mvc.templates.pdf
mysql-storedprocedures.pdf
mzb
n614283792_294713_8778.jpg
nohup.out
o2.zip
o2guide/
oreillyno.jpg
org/
pin
pppoe.conf
public-wireless
rac_doc_namecryptedtoprotectyourprivacy_x20092255474590951173267347303085366714866313775220732768655534007266.zip
rc.conf.bak
rc.lua
readsomecode
resume.aux
resume.dvi
resume.log
resume.tex
resume.txt
retriever.py
sadf.lua
sadf/
scripts/
sec/
shading.sty
share/
snake.zip
test/
texmf/
time.log
to-cover
utils/
var/
vennblank.xcf
weekalarm.log
weekalarmrc
what/
whatnot/
wpa.key
writings/
.xmonad/xmonad-*
.xmonad/*hi
.xmonad/*o
.xmonad/*errors*
.bash_profile
worklog
.Trash/
vms/
.emacs.d/nxhtml/etc/schema/xhtml-loader.rnc
